:root{
    --border-color: white;
    --notice--color: red;
    --background-color: black;
    --text-color: white;
    --border-selected-color: #00cf4c;
    --size-GitLink: 3em;
}

.hidden {
    display: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "JetBrains Mono", monospace;

}

h1 {
    text-align: center;
}

.max-h-100 {
    max-height: 100%;
}

main {
    display: flex;
    height: 80vh;
    max-height: 80%;
}

.app-list {
    overflow-y: auto;
    border: 1px dashed darkgray;
    border-radius: 0.5em;
    height: 100%;
}

.column-1-minWidth{
    min-width: 23em;
}

iframe{
    background-color: white;
    width: 100%;
    height: 100%;
    border: 0.4em solid var(--notice--color);
    border-radius: 0.5em;
}

.app{
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    margin: 1em;
    padding: 0.5em;
}

.gitLink {
    width: var(--size-GitLink);
    height: var(--size-GitLink);
}

.viewPage{
    width: max-content;
    height: var(--size-GitLink);
    align-content: center;
}

.ProjectContent{
    display: flex;
    justify-content: space-between;
}

.app:hover{
    border-color: var(--border-selected-color);
    color: var(--border-selected-color);
}

.selectedApp {
    color: var(--border-selected-color);
}

#iframeUrlDisplay{
    word-break: break-all;
}
